@model List<VideogamesCodex.Models.Videogames>
@{
    ViewBag.Title = "Index";
}


<h1 class="page-header">
    <a class="btn btn-xs btn-primary" href="~/Home/crear/">Videogames Codex</a>
</h1>

<table class="table">
    <thead>
        <tr>
            <th style="width:200px;">Nombre</th>
            <th style="width:200px;">Distribuidor</th>
            <th style="width:200px;">Género</th>
        </tr>
    </thead>
    <tbody>
        @foreach(VideogamesCodex.Models.Videogames videogames in Model)
        {
            <tr>
                <td>@videogames.name</td>
                <td>@videogames.publisher</td>
                <td>@videogames.year</td>
                <td>
                    <a class="btn btn-xs btn-default" href="~/Home/Ver/@videogames.id">Ver</a>
                    <a class="btn btn-xs btn-primary" href="~/Home/Modificar/@videogames.id">Editar</a>
                    <a onclick="return confirm('¿Deseas eliminar esta tarea?');" class="btn btn-xs btn-danger" href="~/Home/Eliminar/@videogames.id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>